secrets.yaml
home-assistant*
known_devices\.yaml
traccar\.xml
aircast\.xml
www/grafanaimages
deps/
custom_components/__pycache__/
.storage/
custom_components/.mypy_cache/
.HA_VERSION
.uuid
.homekit.state
 .ios.conf
.storage2/
glances/
matrix.yaml

.ios.conf

custom_components/lovelace_gen/
