secrets.yaml
home-assistant*
known_devices\.yaml
traccar\.xml
aircast\.xml
www/grafanaimages
www/images
deps/
custom_components/__pycache__/

.storage/

custom_components/.mypy_cache/

.HA_VERSION

.uuid

.homekit.state
