[submodule "custom_components/dreamscreen"]
	path = custom_components/dreamscreen
	url = https://github.com/GregoryDosh/Home-Assistant-DreamScreen-Service.git
	branch = master
[submodule "www/custom_ui/custom-lovelace"]
	path = www/custom_ui/custom-lovelace
	url = https://github.com/ciotlosm/custom-lovelace.git
	branch = master
[submodule "www/custom_ui/vertical-stack-in-card"]
	path = www/custom_ui/vertical-stack-in-card
	url = https://github.com/custom-cards/vertical-stack-in-card.git
	branch = master
[submodule "www/custom_ui/xiaomi_vacuum_map_card"]
	path = www/custom_ui/xiaomi_vacuum_map_card
	url = https://github.com/PiotrMachowski/lovelace-xiaomi-vacuum-map-card.git
[submodule "themes/home-assistant-community-themes"]
	path = themes/home-assistant-community-themes
	url = https://github.com/maartenpaauw/home-assistant-community-themes.git